In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('12bb84ed-397e-435c-8d1b-8ce543108698.csv')

In [3]:
df

,_id,route,ridership_route_code,route_full_name,current_garage,mode,month_start,year_month,day_type,avg_riders,day_count
0,1,1,001,1 - FREEPORT ROAD,Ross,Bus,2017-01-01,201701,SAT.,969.500000,4
1,2,4,004,4 - TROY HILL,Ross,Bus,2017-01-01,201701,SAT.,218.250000,4
2,3,6,006,6 - SPRING HILL,Ross,Bus,2017-01-01,201701,SAT.,495.500000,4
3,4,8,008,8 - PERRYSVILLE,Ross,Bus,2017-01-01,201701,SAT.,1480.000000,4
4,5,11,011,11 - FINEVIEW,Ross,Bus,2017-01-01,201701,SAT.,208.000000,4
...,...,...,...,...,...,...,...,...,...,...,...
20363,20732,Y1,NaN,Y1 - LARGE FLYER,West Mifflin,Bus,2024-02-01,202402,WEEKDAY,109.380952,21
20364,20733,Y45,NaN,Y45 - BALDWIN MANOR FLYER,West Mifflin,Bus,2024-02-01,202402,WEEKDAY,69.428571,21
20365,20734,Y46,NaN,Y46 - ELIZABETH FLYER,West Mifflin,Bus,2024-02-01,202402,WEEKDAY,850.047619,21
20366,20735,Y47,NaN,Y47 - CURRY FLYER,West Mifflin,Bus,2024-02-01,202402,WEEKDAY,512.476190,21
20367,20736,Y49,NaN,Y49 - PROSPECT FLYER,West Mifflin,Bus,2024-02-01,202402,WEEKDAY,635.476190,21

In [7]:
df['month_start'] = pd.to_datetime(df['month_start'])

In [8]:
df

,_id,route,ridership_route_code,route_full_name,current_garage,mode,month_start,year_month,day_type,avg_riders,day_count
0,1,1,001,1 - FREEPORT ROAD,Ross,Bus,2017-01-01,201701,SAT.,969.500000,4
1,2,4,004,4 - TROY HILL,Ross,Bus,2017-01-01,201701,SAT.,218.250000,4
2,3,6,006,6 - SPRING HILL,Ross,Bus,2017-01-01,201701,SAT.,495.500000,4
3,4,8,008,8 - PERRYSVILLE,Ross,Bus,2017-01-01,201701,SAT.,1480.000000,4
4,5,11,011,11 - FINEVIEW,Ross,Bus,2017-01-01,201701,SAT.,208.000000,4
...,...,...,...,...,...,...,...,...,...,...,...
20363,20732,Y1,NaN,Y1 - LARGE FLYER,West Mifflin,Bus,2024-02-01,202402,WEEKDAY,109.380952,21
20364,20733,Y45,NaN,Y45 - BALDWIN MANOR FLYER,West Mifflin,Bus,2024-02-01,202402,WEEKDAY,69.428571,21
20365,20734,Y46,NaN,Y46 - ELIZABETH FLYER,West Mifflin,Bus,2024-02-01,202402,WEEKDAY,850.047619,21
20366,20735,Y47,NaN,Y47 - CURRY FLYER,West Mifflin,Bus,2024-02-01,202402,WEEKDAY,512.476190,21
20367,20736,Y49,NaN,Y49 - PROSPECT FLYER,West Mifflin,Bus,2024-02-01,202402,WEEKDAY,635.476190,21